alabaster==0.7.10
apipkg==1.4
attrs==18.1.0
Babel==2.5.3
certifi==2017.4.17
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
coverage==4.0.3
dj-database-url==0.4.2
Django==1.11.23
django-cors-headers==2.1.0
django-pylibmc==0.6.1
django-rest==0.0.1
django-rest-framework==0.1.0
django-rest-swagger==2.1.2
django-static-precompiler==1.6
djangorestframework==3.6.4
docutils==0.14
execnet==1.5.0
flake8==3.3.0
gunicorn==19.7.1
idna==2.5
imagesize==1.0.0
itypes==1.1.0
Jinja2==2.10
MarkupSafe==1.0
mccabe==0.6.1
more-itertools==4.1.0
openapi-codec==1.3.2
packaging==17.1
pep8==1.7.1
pluggy==0.6.0
pprint==0.1
psycopg2==2.7.1
py==1.5.3
pycodestyle==2.3.1
pyflakes==1.5.0
Pygments==2.2.0
pylibmc==1.5.2
pyparsing==2.2.0
pytest==3.5.1
pytest-cache==1.0
pytest-cov==2.5.1
pytest-django==3.2.1
pytest-pep8==1.0.6
python-coveralls==2.9.1
pytz==2017.2
PyYAML==3.12
requests==2.18.1
simplejson==3.14.0
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.7.4
sphinxcontrib-websupport==1.0.1
uritemplate==3.0.0
urllib3==1.21.1
whitenoise==3.3.0
