body {
  background-color: #edf8fb;
  margin: 0;
}

.no-margin {
  margin: 0;
}

.vertical-page-center {
  height: 100vh;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.horizontal-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}